*{
    margin: ;
    padding: ;
    font-family: 'Poppins', sans-serif;

}
/* -----navbar----- */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-item{
    display: inline-block;
    padding: 0px 40px;
    font-size: 110%;
}
.nav-item:nth-child(1){
    color: #FF6347;
}
nav img{
    margin-left: .7in;
}
/* ------Main body------- */

.left-section h3, .left-section h1{
    margin-left: 0.7in;
    /* margin-top: .4; */
}
.left-section h3{
    position:relative;
    top: 40px;
    font-size: 200%;

}
.left-section h1{
    
    font-weight: 900;
    font-size: 400%;
}
.sub-headlines{
    margin-left: 1.9in;
}
.sub-headline{
    font-size: 160%;
    padding: px;
}
.text{
    color: grey;
    margin-left: .7in;
    margin-right: 7.5in;
}

.headphone01{
    width: 6in;
    position: absolute;
    left: 60%;
    top: 20%;
    z-index: -1;
}
.discount{
    position: absolute;
    left: 56%;
    top :70%;
}
.discount-content{
    color: rgb(255, 255, 255);
    
    z-index: 1;
}
.dt{
    position: absolute;
    left: 59.5%;
    top: 73%;
}
.at{
    position: absolute;
    left: 58.5%;
    top: 73%;
    font-size: 350%;
}
.action-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 1.2in;
    margin-bottom: 1in;
    
}
.action-btn1{
    border-style: none;
    background-color: #FF6347;
    border-radius:40px ;
    padding: 15px 30px;
    color: white;
    font-size: 120%;
    font-weight: 600;
    margin-left:.7in;
    
}
.action-btn2{
    border-style: none;
    background-color: #FF6347;
    border-radius:40px ;
    padding: 15px 30px;
    color: white;
    font-size: 120%;
    font-weight: 600;
    margin-right: 10.5in;

    
}
.action-btn3{
    border-style: none;
    background-color:#FF6347;
    border-radius:40px ;
    padding: 15px 30px;
    color: white;
    font-size: 120%;
    font-weight: 600;
    position: absolute;
    top: 112.5%;
    left: 73%;
}
.dots{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top:100%;
    left: 74%;
    color: white;
    
    
}
.yellow{    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    background: yellow;
    margin-left: in;
    
}
.tomato{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    background: #FF6347;
}
.black{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 3px;
    background: #000000;
    margin-right: in;
}

.onecircle1{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 6px;
    background: #FF6347;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 52%;
    left: 11%;
}

.onecircle2{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 6px;
    background: #FF6347;
    color: white;
    position: absolute;
    top: 63.2%;
    left: 11%;
}
.onecircle3{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 6px;
    background: #FF6347;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 75%;
    left: 11%;
}

.oneplus1{
    color: white;
    position: absolute;
    top: 51%;
    left: 11.3%;
    font-size: 200%;
    font-weight: 100;
}
.oneplus2{
    color: white;
    position: absolute;
    top: 62.3%;
    left: 11.3%;
    font-size: 200%;
    font-weight: 100;
}
.oneplus3{
    color: white;
    position: absolute;
    top: 74.1%;
    left: 11.3%;
    font-size: 200%;
    font-weight: 100;

}

