*{
    margin: 0px; 
    padding: 0px;
}

body{
    background-image: url(./assets/bg.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    
}

/* ----------Nav bar---------- */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px ;
    background-color: black;
    z-index: -1;
}

ul{
    display: flex;
    list-style: none;
    color: white;
    margin-right: 4.5in;
}
ul li{
    font-weight: 400;
    padding: 20px 30px;
}

.navbar img{
    margin-left: 60px;
}

.line{
    border-left: 1px solid rgb(255, 255, 255);
    height: 50px;
    margin-top: 7px;
}

.button-small{
    border-style: none;
    color: #fff;
    font-weight: 500;
    font-size: 100%;
    padding: 10px 20px;
    background-color: rgb(192, 0, 192);
    margin-top: 15px;
    margin-right: 50px;
    border: 1px solid rgb(192, 0, 192);
    border-radius: 5px;
}

/* ---------Hero------------ */

.hero-heading{
    text-align: center;
    font-size: 550%;
    color: white;
    margin-left: 2in;
    margin-right: 2in;
    margin-top: 2in;
}

.hero-description{
    font-size: 200%;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: in;
}

.button-large{
    border-style: none;
    position: absolute;
    left:35%;
    right: 35%;
    color: #fff;
    font-weight: 600;
    font-size: 200%;
    padding: 20px 30px;
    background-color: rgb(192, 0, 192);
    margin-top: 1in;
    margin-right: 50px;
    border: 1px solid rgb(192, 0, 192);
    border-radius: 15px;
}


/* -----------For Fully visible bcg ------------- */
.Full{
    border-top: 2px solid rgba(255, 255, 255, 0);
    width: 50px;
    margin-top: 3.5in;
}

/* -------hover Effect-------- */
ul li:hover{
    font-size: 110%;
    font-weight: 600;

}